<div class="jumbotron">
       <h1 class="text-center mb-5">Registro de cata de vinos</h1>
       <div class="container">
              <%= form_with(model: @wine, local: true) do |f| %>
                     <div class="my-3">
                            <%= f.label :name %> <br>
                            <%= f.text_field :name %>
                     </div>
                     <%if @strains.count > 0 %>
                            <div>
                                   <%= f.label "Listado de cepas" %> <br>
                                   <%= collection_check_boxes(:wine, :strain_ids, @strains, :id, :name) %>
                            </div>
                     <%else%>
                            <h5>No hay cepas disponibles</h5>
                     <%end%>
                     <div class="my-3">
                            <%= f.submit %>
                     </div>
              <%end%>
       </div>
</div>

<div class="container">
       <h2 class="text-center my-5">Tabla de vinos</h2>
       <table class="table">
              <thead class="thead-light">
                     <th>Nombre</th>
                     <th>Cepas</th>
                     <th>Porcentaje</th>
              </thead>
              <tbody>
                     <% @wines.each do |wine|%>
                            <tr>
                                   <td> <%= wine.name %> </td>
                                   <td>
                                          <ul>
                                          <% wine.strains.each do |strain| %>
                                                 <li><%= strain.name %></li>
                                          <%end%>
                                          </ul>
                                   </td>
                            </tr>
                     <%end%>
              </tbody>
       </table>
</div>