<%= render "form" %>

<div class="container">
       <h2 class="text-center my-5">Tabla de vinos</h2>
       <table class="table">
              <thead class="thead-light">
                     <th>Nombre</th>
                     <th>Cepa | porcentaje </th>
                     <th> Nota del enologo </th>
                     <th> Accesos </th>
              </thead>
              <tbody>
                     <% @wines.each do |wine|%>
                            <tr>
                                   <td> <%= wine.name %> </td>
                                   <td>
                                          <ul>
                                          <% wine.wine_strains.each do |wine_strain| %>
                                                 <li><%= wine_strain.strain.name %> (<%= wine_strain.percent %>%) </li>
                                          <%end%>
                                          </ul>
                                   </td>
                                   <td>
                                          <ul>
                                                 <% wine.wine_oenologists.each do |wine_oenologist| %>
                                                        <li> Nombre: <%= wine_oenologist.oenologist.name %> Puntaje: <%= wine_oenologist.score %>  </li>
                                                        <span> Revista: <%= wine_oenologist.oenologist.magazines.name %> </span>
                                                 <%end%>
                                          </ul>
                                   </td>
                                   <td>
                                          <%= link_to "Editar vino", edit_wine_path(wine.id) %>
                                   </td>
                            </tr>
                     <%end%>
              </tbody>
       </table>
</div>